services:
  mysql:
    image: mysql:8.0
    container_name: arias_mysql
    environment:
      MYSQL_ROOT_PASSWORD: abcd
      MYSQL_DATABASE: arias_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pabcd"]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build: .
    container_name: arias_api
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  mysql_data:
